
@{
    Layout = null;
}
<!doctype html>
<html lang="en" dir="ltr">

<head>

    <!-- META DATA -->
    <meta charset="UTF-8">
    <meta name='viewport' content='width=device-width, initial-scale=1.0, user-scalable=0'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Con sáng tạo">
    <meta name="author" content="Con sáng tạo">
    <meta name="keywords" content="admin,admin dashboard,admin panel,admin template,bootstrap,clean,dashboard,flat,jquery,modern,responsive,premium admin templates,responsive admin,ui,ui kit.">

    <!-- FAVICON -->
    <link rel="shortcut icon" type="image/x-icon" href="/assets/images/brand/favicon.ico" />

    <!-- TITLE -->
    <title>Đăng nhập</title>

    <!-- BOOTSTRAP CSS -->
    <link id="style" href="/assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" />

    <!-- STYLE CSS -->
    <link href="/assets/css/style.css" rel="stylesheet" />
    <link href="/assets/css/dark-style.css" rel="stylesheet" />
    <link href="/assets/css/transparent-style.css" rel="stylesheet">
    <link href="/assets/css/skin-modes.css" rel="stylesheet" />

    <!--- FONT-ICONS CSS -->
    <link href="/assets/css/icons.css" rel="stylesheet" />

    <!-- COLOR SKIN CSS -->
    <link id="theme" rel="stylesheet" type="text/css" media="all" href="/assets/colors/color1.css" />




</head>

<body class="app sidebar-mini ltr">


    <style>
        #particles-js {
            height: 100%;
            background: #f00;
        }

        body {
            margin: 0;
            padding: 0;
            height: 100vh;
        }

        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }

        input[type=number] {
            -moz-appearance: textfield;
        }
    </style>

    <!-- BACKGROUND-IMAGE -->
    <div class="login-img">
        @*class="login-img"*@
        <!-- GLOABAL LOADER -->
        @*<div id="global-loader">
                <img src="/assets/images/loader.svg" class="loader-img" alt="Loader">
            </div>*@
        <!-- /GLOABAL LOADER -->
        <!-- PAGE -->
        <div class="page">
            <div class="">

                <!-- CONTAINER OPEN -->
                <div class="col col-login mx-auto">
                    <div class="text-center">
                        <img style="width:200px" src="/assets/logo-2.png" class="header-brand-img" alt="">
                    </div>
                </div>

                <div class="container-login100">
                    <div class="wrap-login100 p-6">
                        <form class="login100-form validate-form">
                            <span class="login100-form-title pb-5">
                                Đăng nhập
                            </span>
                            <div class="panel panel-primary">

                                <div class="tab-content">
                                    <div class="tab-pane active" id="tab5">
                                        <div class="wrap-input100 validate-input input-group" data-bs-validate="Nhập số điện thoại">
                                            <a href="javascript:void(0)" class="input-group-text bg-white text-muted">
                                                <i class="zmdi zmdi-phone text-muted" aria-hidden="true"></i>
                                            </a>
                                            <input class="input100 border-start-0 form-control ms-0" id="txtUsername" type="text" placeholder="Số điện thoại">
                                        </div>
                                        <div class="wrap-input100 validate-input input-group" id="Password-toggle">
                                            <a href="javascript:void(0)" class="input-group-text bg-white text-muted">
                                                <i class="zmdi zmdi-eye text-muted" aria-hidden="true"></i>
                                            </a>
                                            <input class="input100 border-start-0 form-control ms-0" id="txtPassword" type="password" placeholder="Mật khẩu">
                                        </div>
                                        @*<div class="text-end pt-4">
                                                <p class="mb-0"><a href="#" class="text-primary ms-1">Forgot Password?</a></p>
                                            </div>*@
                                        <div class="container-login100-form-btn">
                                            <a href="javascript:Login();" id="btnLogin" class="login100-form-btn btn-primary ">
                                                Đăng nhập
                                            </a>
                                        </div>



                                        @*<div class="text-center pt-3">
                                                <p class="text-dark mb-0">Not a member?<a href="#" class="text-primary ms-1">Sign UP</a></p>
                                            </div>*@
                                        @*<div class="container-login100-form-btn">
                                                Chưa có tài khoản. Đăng ký &nbsp;<a href="@Url.Action("Register")">tại đây</a>
                                            </div>*@
                                    </div>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
                <!-- CONTAINER CLOSED -->
            </div>
        </div>
        <!-- End PAGE -->

    </div>

    <script type="text/javascript">
        function Login() {
        let username = document.getElementById("txtUsername").value;
        let password = document.getElementById("txtPassword").value;
        console.log("username", username)
        console.log("password", password)
        let param = {
            'username': username,
            'password': password
        };
              $("#btnLogin").toggleClass("btn-loading");

         $.ajax({
            type: 'POST',
            url: "@Url.Action("Login")",
            data: param,
            async: true,
            success: function (data) {
                console.log("data", data)
                // Utils.UnLoading();
                if (data.isSuccess) {
                    var url = new URL(location.href);
                    var c = url.searchParams.get("t");
                    if (c == null || c == undefined) {
                        location.href = '/';
                    }
                    else {
                        location.href = c;
                    }

                }
                else {
                    $("#btnLogin").toggleClass("btn-loading");
                    notifyError(data.errorMessage);
                }
            }

                });

        }


    </script>
    <!-- BACKGROUND-IMAGE CLOSED -->
    <!-- JQUERY JS -->
    <script src="/assets/js/jquery.min.js"></script>

    <!-- BOOTSTRAP JS -->
    <script src="/assets/plugins/bootstrap/js/popper.min.js"></script>
    <script src="/assets/plugins/bootstrap/js/bootstrap.min.js"></script>

    <!-- SHOW PASSWORD JS -->
    <script src="/assets/js/show-password.min.js"></script>

    <!-- GENERATE OTP JS -->
    <script src="/assets/js/generate-otp.js"></script>

    <!-- Perfect SCROLLBAR JS-->
    <script src="/assets/plugins/p-scroll/perfect-scrollbar.js"></script>

    <!-- Color Theme js -->
    <script src="/assets/js/themeColors.js"></script>
    <script src="/assets/plugins/notify/js/rainbow.js"></script>
    <script src="/assets/plugins/notify/js/jquery.growl.js"></script>
    <script src="/assets/plugins/notify/js/notifIt.js"></script>
    <script src="/assets/js/notify-custom.js"></script>
    <!-- CUSTOM JS -->
    <script src="/assets/js/custom.js"></script>

</body>

</html>
<script>
</script>